
body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: red;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color:black;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid violet;
    border-radius: 3px;
    background-color: wheat;
  }
  
  textarea {
    height: 150px;
  }
  
  input[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 25px;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: darkblue;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 5px;
    color: #666;
  }
  